name: Build CV
on:
  push:
    paths:
      - '**.tex'

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v3
        with:
          root_file: cv.tex
          # moderncv requires standard packages usually included in full schemes
          args: -pdf -file-line-error -halt-on-error -interaction=nonstopmode

      - name: Upload PDF as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: CV
          path: cv.pdf

      - name: Release (Optional)
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: cv.pdf
